<div class="booking-card">
    <div class="room-no">Room 1</div>

    <div class="adults-section">
        <div class="label">Adults</div>
        <input type="number">
        <fa-icon [icon]="faMinus"></fa-icon>
        <div class="vertical-divider"></div>
        <fa-icon [icon]="faPlus"></fa-icon>
    </div>

    <div class="children-section">
        <div class="label">Children</div>
        <input type="number">
        <fa-icon [icon]="faMinus"></fa-icon>
        <div class="vertical-divider"></div>
        <fa-icon [icon]="faPlus"></fa-icon>
    </div>

    <div class="bed-number">
        <div class="bed">Two Bed</div>
        <fa-icon [icon]="faChevronDown"></fa-icon>
    </div>

    <div class="price">
        <span class="currency">Kes</span> <strong class="amount">48,100</strong>
    </div>
</div>