<div class="container">
    <div class="row-1">
        <fa-icon [icon]="faAngleLeft" (click)="goBack()"></fa-icon>
        <div class="text">Change the room preferences below and the pricing will update accordingly</div>
    </div>

    <div class="room-pricing">
        @for (roomId of rooms(); let i = $index; track roomId) {
        <div class="room-wrapper" style="position: relative">
            @if (i > 0) {
            <fa-icon [icon]="faXmark" class="remove-room-btn" (click)="removeRoom(roomId)"></fa-icon>
            }

            <app-room-pricing (totalPriceChanged)="updateTotal(roomId, $event)" [roomNumber]="i + 1" />
        </div>
        }
    </div>

    <div class="buttons">
        <button class="outline-btn" (click)="addRoom()">
            <fa-icon [icon]="faPlus"></fa-icon>
            <div class="outline-btn-label">Add Room</div>
        </button>
        <button class="filled-btn" (click)="goToReservationSummary()">
            <div class="filled-btn-label"><strong>Proceed</strong> (Kes {{totalPrice()}})</div>
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
</div>