<div class="booking-form-row">
    <!-- Check-in / Check-out Cards -->
    <div class="calendar-cards">
        @if (showCalendar()) {
        <app-custom-calendar (dateSelected)="onDateSelected($event)" [position]="calendarPosition()" /> 
        }

        <div class="booking-card" (click)="toggleCalendar('checkIn')">
            <div class="card-title">Check In</div>
            <div class="card-main">{{ checkInDate()!.getDate() }}</div>
            <div class="card-sub">{{ checkInDate()!.toLocaleDateString('en-US', { month: 'short', year: 'numeric' }) }}
            </div>
        </div>

        <div class="booking-card" (click)="toggleCalendar('checkOut')">
            <div class="card-title">Check Out</div>
            <div class="card-main">{{ checkOutDate()!.getDate() }}</div>
            <div class="card-sub">{{ checkOutDate()!.toLocaleDateString('en-US', { month: 'short', year: 'numeric' }) }}
            </div>
        </div>
    </div>

    <!-- Adults / Children Cards -->
    <div class="adults-children">
        <div class="booking-card" (click)="toggleInputAdults('adults')"
            [class.active]="activeCardAdults() === 'adults'">
            <div class="card-title">Adults</div>
            <div class="card-main">{{ adults() }}</div>
            <div class="card-sub arrow">&#x2304;
            </div>
        </div>
        @if (activeCardAdults() === 'adults') {
        <div class="input-panel">
            <span>12+ years</span>
            <div class="input-apply">
                <input type="number" [(ngModel)]="tempValueAdults">
                <div class="apply" (click)="applyAdults('adults')">Apply</div>
            </div>
        </div>
        }
    </div>

    <div class="adults-children">
        <div class="booking-card" (click)="toggleInputChildren('children')"
            [class.active]="activeCardChildren() === 'children'">
            <div class="card-title">Children</div>
            <div class="card-main">{{children()}}</div>
            <div class="card-sub arrow">&#x2304;
            </div>
        </div>
        @if (activeCardChildren() === 'children') {
        <div class="input-panel">
            <div class="input-panel-children">
                <div class="child1">
                    <span>0-4 years</span>
                    <div class="input-apply">
                        <input type="number" [(ngModel)]="tempValueChildren1">
                        <div class="apply" (click)="applyChildren('children')">Apply</div>
                    </div>
                </div>
                <div class="child2">
                    <span>5-12 years</span>
                    <div class="input-apply">
                        <input type="number" [(ngModel)]="tempValueChildren2">
                        <div class="apply" (click)="applyChildren('children')">Apply</div>
                    </div>
                </div>

            </div>

        </div>
        }
    </div>
    <!-- 3-Segment Rectangle -->
    <div class="three-segment-card">
        @for(label of segmentLabels; track $index; let i = $index) {
        <div class="segment" [class.selected]="selectedSegment() ===i" (click)="selectSegment(i)">{{label}}</div>
        }
    </div>

    <!-- Button container -->
    <div class="button-container">
        <button class="primary">Have a Promotion Code</button>
        <button class="check-availability">

        </button>
    </div>
</div>