<hr>
<div class="room-details-container">
    <div class="room-details">
        <div class="image-carousel">
            <app-image-carousel [showFullscreenToggle]="true"/>
        </div>
        <div class="room-description">
            <div class="row-1">
                <div class="location"><fa-icon [icon]="faLocationDot"></fa-icon> Nairobi</div>
                <strong class="rooms-left">8 rooms Left</strong>
            </div>
            <div class="room-title">Garden Room</div>
            <div class="room-ratings">⭐⭐⭐⭐☆</div>
            <div class="room-describe">
                <h4>Description</h4>
                <p>
                    The tastefully furnished and cosy rooms are all en suite, with a central ceiling fan, direct dial
                    telephone, satellite TV and a workstation with wireless capabilities. Personal valets provide a
                    24-hour
                    room service.
                </p>
            </div>
            <div class="room-amenities">
                <app-amenities-icons />
            </div>
        </div>
    </div>
    <div class="vertical-divider"></div>
    <div class="room-pricing">
        <div class="pricing">
            <div class="pricing-row">
                <span>General Accommodation</span>
                <strong>7,000</strong>
            </div>
            <div class="pricing-row">
                <span>Extras</span>
                <strong>15,500</strong>
            </div>
            <div class="pricing-row">
                <span>Total Before Tax</span>
                <strong>22,000</strong>
            </div>
            <div class="pricing-row">
                <span>16% VAT</span>
                <strong>3,600</strong>
            </div>
        </div>

        <hr class="price-divider" />

        <div class="price-info">
            <div class="advertisement">
                <small>Best Price Guarantee/Per Night</small>
                <small>On & Breakfast (Bed And</small>
                <small>Breakfast Included)</small>
            </div>
            <div class="price">
                <span class="currency">Kes</span> <strong class="amount">48,100</strong>
            </div>
        </div>

        <hr class="price-divider" />

        <div class="button">
            <button class="outline-btn" (click)="goToBookNow()">
                <div class="outline-btn-label">Book Now Pay Later</div>
                <fa-icon class="hover-arrow" [icon]="faArrowRight"></fa-icon>
            </button>
        </div>
    </div>
</div>
<hr>