<div class="explore-room-container">
    <section class="room-section">
        <div class="booking-details">
            <button class="back-btn" (click)="goHome()">
                <fa-icon [icon]="faReply"></fa-icon>
            </button>
            <app-booking-row />
        </div>
        <div class="room-details">
            <app-room-details />
        </div>
    </section>
    <section class="more-offers-section">
        <div class="more-offers-container">
            <div class="more-offers">
                <div class="label">More Offers</div>
                <div class="next-buttons">
                    <button class="nav left" [class.disabled]="atStart" (click)="prevSlide()" [disabled]="atStart">
                        &#10094;
                    </button>
                    <button class="nav right" [class.disabled]="atEnd" (click)="nextSlide()" [disabled]="atEnd">
                        &#10095;
                    </button>
                </div>
            </div>
            <div class="more-offers-rooms">
                @for (room of visibleRooms(); let i=$index ;track room.id) {
                <ng-container>
                    <app-more-offers-rooms [room]="room" />
                    @if (i === 0) {
                    <div class="vertical-divider"></div>
                    }
                </ng-container>
                }
            </div>
        </div>
    </section>
</div>