.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f9f8fb;    
  max-height: 80vh;
  border: 1px solid white;
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 1400px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none; 
}

.content-box {
  width: 100%;
  box-sizing: border-box;
}

.app-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}