<div class="booking-details">
    <div class="booking-description">
        <h2 class="booking-title">Direct Booking</h2>

        <ul class="booking-statements">
            <li class="li-1">Unlock the ultimate savings experience at Jacaranda Hotel by booking directly with us!</li>
            <li>If you come across a qualified price for the same accomodation and terms on another site that's</li>
            <li>lower than what we offer on our official website <span><a
                        href="https://booking.jacarandahotels.com">(https://booking.jacarandahotels.com)</a></span>,
                dont
                sweat it.</li>
            <li>we’ll match that price and <span class="span-1">sweeten the deal with an extra 10</span> discount on
                your
                stay, it's our</li>
            <li>way of saying thank you for choosing us. Terms and conditions apply</li>
        </ul>
    </div> 

    <app-booking-row />
</div>