<div class="booking-details">
    <h2 class="booking-title">Direct Booking</h2>

    <ul class="booking-statements">
        <li class="li-1">Unlock the ultimate savings experience at Jacaranda Hotel by booking directly with us!</li>
        <li>If you come across a qualified price for the same accomodation and terms on another site that's</li>
        <li>lower than what we offer on our official website <span><a
                    href="https://booking.jacarandahotels.com">(https://booking.jacarandahotels.com)</a></span>, dont
            sweat it.</li>
        <li>we’ll match that price and <span class="span-1">sweeten the deal with an extra 10</span> discount on your
            stay, it's our</li>
        <li>way of saying thank you for choosing us. Terms and conditions apply</li>
    </ul>

    <div class="booking-form-row">
        <!-- Check-in / Check-out Cards -->
        <div class="booking-card">
            <div class="card-title">Check In</div>
            <div class="card-main">23</div>
            <div class="card-sub">Apr 2023</div>
        </div>

        <div class="booking-card">
            <div class="card-title">Check Out</div>
            <div class="card-main">27</div>
            <div class="card-sub">Apr 2023</div>
        </div>

        <!-- Adults / Children Cards -->
        <div class="adults-children">
            <div class="booking-card" (click)="toggleInputAdults('adults')"
                [class.active]="activeCardAdults() === 'adults'">
                <div class="card-title">Adults</div>
                <div class="card-main">{{ adults() }}</div>
                <div class="card-sub arrow">&#x2304;
                </div>
            </div>
            @if (activeCardAdults() === 'adults') {
            <div class="input-panel">
                <span>12+ years</span>
                <div class="input-apply">
                    <input type="number" [(ngModel)]="tempValueAdults">
                    <div class="apply" (click)="applyAdults('adults')">Apply</div>
                </div>
            </div>
            }
        </div>

        <div class="adults-children">
            <div class="booking-card" (click)="toggleInputChildren('children')"
                [class.active]="activeCardChildren() === 'children'">
                <div class="card-title">Children</div>
                <div class="card-main">{{children()}}</div>
                <div class="card-sub arrow">&#x2304;
                </div>
            </div>
            @if (activeCardChildren() === 'children') {
            <div class="input-panel">
                <div class="input-panel-children">
                    <div class="child1">
                        <span>0-4 years</span>
                        <div class="input-apply">
                            <input type="number" [(ngModel)]="tempValueChildren1">
                            <div class="apply" (click)="applyChildren('children')">Apply</div>
                        </div>
                    </div>
                    <div class="child2">
                        <span>5-12 years</span>
                        <div class="input-apply">
                            <input type="number" [(ngModel)]="tempValueChildren2">
                            <div class="apply" (click)="applyChildren('children')">Apply</div>
                        </div>
                    </div>

                </div>

            </div>
            }
        </div>
        <!-- 3-Segment Rectangle -->
        <div class="three-segment-card">
            @for(label of segmentLabels; track $index; let i = $index) {
            <div class="segment" [class.selected]="selectedSegment() ===i" (click)="selectSegment(i)">{{label}}</div>
            }
        </div>

        <!-- Button container -->
        <div class="button-container">
            <button class="primary">Have a Promotion Code</button>
            <button class="check-availability">
                
            </button>
        </div>
    </div>
</div>