.page-container {
  scroll-snap-type: y mandatory;
  height: 80vh;
  scroll-behavior: smooth;
}

.page-section {
  height: 80vh;
  scroll-snap-align: start;
}

.room-section {
  height: 80vh;
  scroll-snap-align: start;
}




