.page-container {
  scroll-snap-type: y mandatory;
  height: 80vh;
  scroll-behavior: smooth;
}

.page-section {
  height: 80vh;
  scroll-snap-align: start;
}

.room-section {
  position: relative;
}

.sticky-header {
  position: sticky;
  top: 0;
  width: 100%;
  margin: auto;
  max-width: 1400px;
  background-color: #f2f2f2;
  padding: 1.5rem;
  z-index: 1000;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sticky-content {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  cursor: default;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.sticky-content:hover {
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.sticky-header-label {
  color: #555;
}

.sticky-header-strong {
  color: #6b4c7f;
}