<div class="image-wrapper">
    <img [src]="roomImages()[currentImageIndex()]" alt="Room" />

    <button class="nav left" (click)="prevImage()">&#10094;</button>
    <button class="nav right" (click)="nextImage()">&#10095;</button>

    @if (showFullscreenToggle()) {
    <button class="fullscreen-toggle" (click)="toggleFullscreen()">
        <fa-icon [icon]="faExpand"></fa-icon>
    </button>
    }
</div>

<div class="dots">
    @for (img of roomImages(); track $index; let i = $index) {
    <span [class.active]="i === currentImageIndex()" (click)="goToImage(i)"></span>
    }
</div>

@if (fullscreenMode()) {
<div class="fullscreen-overlay" [class.entering]="isAnimatingIn()" [class.exiting]="isAnimatingOut()"
    (animationend)="onAnimationEnd()">
    <button class="close-btn" (click)="toggleFullscreen()">×</button>
    <img [src]="roomImages()[currentImageIndex()]" alt="Room" class="fullscreen-image" />

    <button class="nav left" (click)="prevImage()">&#10094;</button>
    <button class="nav right" (click)="nextImage()">&#10095;</button>

    <div class="dots fullscreen-dots">
        @for (img of roomImages(); track $index; let i = $index) {
        <span [class.active]="i === currentImageIndex()" (click)="goToImage(i)"></span>
        }
    </div>
</div>
}