<hr>
<div class="room-card">
    <!-- Image Section -->
    <div class="room-image-carousel">
        <app-image-carousel />
    </div>

    <!-- Content Section -->
    <div class="room-details">
        <!-- Top Info -->
        <div class="room-top">
            <span class="location"> Indian Ocean Beach Resort</span>
            <span class="availability"><strong>8 Rooms Left</strong></span>
        </div>

        <!-- Title & Rating -->
        <h2 class="room-title">Garden Room</h2>
        <div class="rating">⭐⭐⭐⭐☆</div>

        <!-- Description -->
        <div class="room-description">
            <h4>Description</h4>
            <p>
                The tastefully furnished and cosy rooms are all en suite, with a central ceiling fan, direct dial
                telephone, satellite TV and a workstation with wireless capabilities. Personal valets provide a 24-hour
                room service.
            </p>
        </div>
    </div>

    <div class="amenities-details">
        <!-- Amenities -->
        <div class="room-amenities">
            <app-amenities-icons />
        </div>

        <div class="room-price">
            <div class="price-info">
                <div class="advertisement">
                    <small>Best Price Guarantee/Per Night</small>
                    <small>On & Breakfast (Bed And</small>
                    <small>Breakfast Included)</small>
                </div>
                <div class="price">
                    <span class="currency">Kes</span> <strong class="amount">48,100</strong>
                </div>

            </div>
            <div class="room-actions">
                <button class="outline-btn" (click)="goToExploreRoom()">
                    <div class="outline-btn-label">Explore Room </div><span class="arrow">→</span>
                </button>
                <button class="filled-btn">
                    <div class="filled-btn-label">Book Now Pay Later</div>
                </button>
            </div>
        </div>
    </div>
</div>