<hr>
<div class="room-card">
    <!-- Image Section -->
    <div class="room-image-carousel">
        <app-image-carousel />
    </div>

    <!-- Content Section -->
    <div class="room-details">
        <!-- Top Info -->
        <div class="room-top">
            <div class="location"><fa-icon [icon]="faLocationDot"></fa-icon> {{location()}}</div>
            <span class="availability"><strong>{{roomsLeft()}} Rooms Left</strong></span>
        </div>

        <!-- Title & Rating -->
        <div class="title-rating">
            <h2 class="room-title">{{title()}}</h2>
            <div class="rating">⭐⭐⭐⭐☆</div>
        </div>


        <!-- Description -->
        <div class="room-description">
            <h4>Description</h4>
            <p>{{description()}}</p>
        </div>
    </div>

    <div class="amenities-details">
        <!-- Amenities -->
        <div class="room-amenities">
            <app-amenities-icons />
        </div>

        <div class="room-price">
            <div class="price-info">
                <div class="advertisement">
                    <small>Best Price Guarantee/Per Night</small>
                    <small>On & Breakfast (Bed And</small>
                    <small>Breakfast Included)</small>
                </div>
                <div class="price">
                    <span class="currency">Kes</span> <strong class="amount">{{price()}}</strong>
                </div>
            </div>

            <div class="room-actions">
                <button class="outline-btn" (click)="goToExploreRoom()">
                    <div class="outline-btn-label">Explore Room </div><span class="arrow">→</span>
                </button>
                <button class="filled-btn" (click)="goToBookNow()">
                    <div class="filled-btn-label">Book Now Pay Later</div>
                </button>
            </div>
        </div>
    </div>
</div>